__pycache__
output_ECS_parser_paper.txt
output_RSC_parser_paper.txt
output_parser_paper.txt
.project
.pydevproject
.idea
.pyc

*.pyc
build/
*.egg-info/
dist/

# mac specific #
.DS_store

LimeSoup/Nature_file_test.json
LimeSoup/test.json
tester.py
tester.py
